
body{
    font-family: 'Poppins', sans-serif;
}
.first-class{
    background-image: url(images/donation0.jpg);
    background-size: 100%;
    background-position: 30px;
    height: 650px;
    color: white;
    width: 1330px;
    background-color: rgba(46, 41, 41, 0.486);
}
.flexible-container{
    display: flex;
}
h1{
    font-size: 50px;
    text-align: center;
}
span{
    color: rgb(253, 117, 6);
}
p{
    font-size: 16px;
    color: rgb(28, 220, 226);
    padding-left: 10px;
    text-align: center;
    text-shadow:10px 10px 50px 100px;
}
.link-name{
    text-align: center;
    background-image: linear-gradient(orange, tomato);
    color: rgb(243, 236, 222);
    border-radius: 7%;
    padding: 5px;
    font-weight: 700;
    text-decoration: solid;
    margin-left: 600px;
}
.third-class{
    color: black;
}
.last{
    display:inline;
}